@charset "utf-8";

body {
    background-image: url(../images/leafs.jpeg);
    background-size: cover;
    color: #2E2E2E;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
head { font-family: 'Josefin Sans', sans-serif; }
 
body a {
    color: #9E0002;
    text-decoration: overline;
    text-indent: 23px;
    background-color: #B37071;
}
body img {
    margin-left: 350px;
    margin-right: 0px;
}
body p {
    border: medium dotted #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 313px;
}
body h1 {
    color: #5C39E8;
    background-color: #FFFFFF;
    background-image: url(url);
    margin-left: 469px;
    margin-right: 350px;
    font-family: josefin-sans;
    font-style: normal;
    font-weight: 100;
}
